{% extends 'base.html' %}
{% block title %}Pobierz opinie{% endblock %}
{% block content %}

<form method="POST" action="{{url_for('index')}}"></form>
  <div class="text-center">
    <h2 class="mb-4">Pobierz opinie o produkcie</h2>
    <form action="/action_page.php" method="get">
    <label for="fname">ID produktu:</label>
    <input type="text" id="product_id" name="product_id" placeholder="np. 104978580">
    <input type="submit" value="Pobierz" href="#">
    </form> 
  </div>

  <script>
    function  toCeneo(){
        var id = document.getElementById("product_id").value;
        if (isNaN(id) || id == "") {
            location.reload();
            alert("Błędny kod");
        }
        else{
        var url = "https://www.ceneo.pl/" + id;
        window.location.href = url;
        }
    }
  </script>
</body>
</html>
{% endblock %}
