
{% extends 'base.html' %}
{% block title %}Opis projektu{% endblock %}
{% block content %}

    <div class="text-center">
      <h3>Cel aplikacji</h3>        
        <p>
            Ta strona pozwala na pobieranie opinii ze strony Ceneo.pl.<br> 
            Dzięki niej możesz zobaczyć statystyki aktualnie poszukiwanego produktu.<br>
            Statystyki obejmują następujące informacje o produkcie: kod produktu, nazwę produktu, liczbę opinii, liczbę zalet, liczbę wad, średnią ocenę.
        </p>

      <h3>Opis działania aplikacji</h3>
        <p>
          Gdy użytkownik wpisze kod produktu w ramkę w zakładce "Pobierz produkt", aplikacja (po sprawdzeniu poprawności kodu produktu)
          pobiera z serwisu Ceneo.pl wszystkie opinie o danym produkcie i zapisuje je do pliku json. Następnie przetwarza te dane (wylicza 
          średnią ocenę, liczbę ocen pozytywnych i inne) i zapisuje do innego pliku json.
          Gdy użytkownik wejdzie w zakładkę "Lista produktów", zobaczy listę wszystkich wcześniej wyszukanych produktów. 
          Po kliknięciu wybranego produktu, wyświetlą się statystyki tego produktu.       
        </p>
        
      <h3>Zastosowane biblioteki</h3>
        <ul style="display: inline-block;">
          <li>requests</li>
          <li>os</li>
          <li>json</li>
          <li>pandas</li>
          <li>numpy</li>
          <li>beautiflisoup</li>
          <li>flask</li>
          <li>matplotlib</li>       
        </ul>

      <h3>Zastosowane podejścia</h3>
        <ul style="display: inline-block;">
          <li>flask</li>      
        </ul>
    </div>
  <footer class="text-center text-white fixed-bottom">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Monika Kłosowska, Uniwersytet Ekonomiczny w Krakowie
    </div>
  </footer>
  </body>
</html>

{% endblock %}