{% extends 'base.html' %}
{% block title %}Lista produktów{% endblock %}
{% block content %}

    <table id="example" class="table table-striped">
      <thead>
          <tr>
              <th scope="col">Produkt</th>
              <th scope="col">Liczba opinii</th>
              <th scope="col">Lista Zalet</th>
              <th scope="col">Lista Wad</th>
              <th scope="col">Średnia Ocena</th>
              <th scope="col">Pobierz</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th><a href="104978580.json" class="link-dark">104978580</a></th>
              <td>61</td>
              <td>23</td>
              <td>1</td>
              <td>4.43</td>
              <td><a href="./opinions/104978580.json" class="link-dark">JSON</a></td>
          </tr>
      </tbody>
  </table>
<footer class="text-center text-white fixed-bottom">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Monika Kłosowska, Uniwersytet Ekonomiczny w Krakowie
    </div>
  </footer>
</body>
</html>

{% endblock %}